---
layout: default
---

<h1>Welcome to Castle Point Anime Convention</h1>
<p>Castle Point Anime Convention is created and organized by the members of the Stevens
    Anime Club and will be held  on the campus of Stevens Institute of Technology in
    Hoboken, New Jersey. Castle Point Anime Convention is just minutes away from New
    York City and is easily accessible by PATH, NJ Transit, ferry, and bus. Castle Point
    Anime Convention aims to promote anime, manga, and Japanese culture as well as
    providing a fun experience for attendees.</p>

<p><b>For the most recent updates, see our news post below.</b></p>

{% for post in paginator.posts %}
<article>
    <h1>{{ post.title }}</h1>
    {{ post.content }}
</article>
{% endfor %}

{% if paginator.total_pages > 1 %}
<nav class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">
	&laquo; Prev
    </a>
    {% else %}
    <span>&laquo; Prev</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
    <em>{{ page }}</em>
    {% elsif page == 1 %}
    <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
    <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">
	{{ page }}
    </a>
    {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
    {% else %}
    <span>Next &raquo;</span>
    {% endif %}
</div>
{% endif %}
