<div id="footer">
    <div class="toel">
        <div class="col">
            <b>CPAC Website Main</b><br/>
            <a href="index.php">Home</a>
            <a href="index.php?page=directions">Directions</a>
            <a href="index.php?page=policies">Policies</a>
            <!-- <a href="http://www.stevens.edu/anime/cgi-bin/forums/">Forum</a> -->
            <a href="index.php?page=archive">Archive</a>
        </div>
        <div class="col">
            <b>Current Con</b><br/>
            <a href="convention.php?page=registration">Registration</a>
            <a href="convention.php?page=index">Con Main</a>
            <a href="convention.php?page=eventform">Activities</a>
            <a href="convention.php?page=guests">Guests</a>
            <a href="convention.php?page=directions">Maps/Locations</a>
        </div>
        <div class="clear"></div>
    </div>
    <div class="toemid">
        <b>Castle Point Anime Convention</b> is run by Stevens' Anime Club and student
        volunteers.  It has been a yearly event since it started Spring 2008.<br/><br/>
        <b>Stevens Institute of Technology</b>, located in Hoboken, NJ, is a premier
        private coeducational institution focused on research and entrepreneurship.
        Stevens is committed to exploring the frontiers of engineering, science, and
        management. <a href="http://www.stevens.edu" target="_blank">www.stevens.edu</a>
    </div>
    <div class="toer">
        <b>Contact</b>
        <a href="https://lists.stevens.edu/cgi-bin/mailman/listinfo/castlepointcon"
           target="_blank">Newsletter sign-up</a>
        <a href="mailto:info@castlepointanime.com">info@castlepointanime.com</a>
        <a href="#">Convention Contact Page</a>
        <br/><br/>
        Layout by <a href="mailto:conventionart@castlepointanime.com" target="_blank" class="nobr">
            Caroline Amaba</a>.
    </div>
    <div class="clear"></div>
</div>
