<aside id="rightbar">
    <a href="/registration.html">Registration</a><br />
    <a href="/artistsalley.html">Artist's Alley</a><br />
    <a href="/dealersroom.html">Dealer's Room</a><br />
    <a href="/cosplay.html">Cosplay</a><br />
    <a href="/guests.html">Guests and Featured Panels</a><br />
    <a href="/panels.html">Panels & Workshops</a><br />
    <a href="/press.html">Press Pass Registration</a><br />
    <a href="/staff.html">Staff: Who We Are</a><br />
    <a href="/contact.html">Contact Us</a><br />

    <h4>Sponsors</h4>
    <a href="https://www.crunchyroll.com">
        <img width="200" height="107" src="/img/crunchyroll_logo_tagline.png" alt="Crunchyroll Logo" />
    </a>
    <a href="http://castlepointanime.showclix.com/">
        <img width="145" height="59" src="/img/showclix.gif" alt="ShowClix Logo" />
    </a>
</aside>
