<form action="//castlepointanime.us8.list-manage.com/subscribe/post?u=4ca1d0d2326f625c74201d035&amp;id=d90064e9fb"
      method="post"
      name="mc-embedded-subscribe-form"
      id="cpac_mailing_signup"
      class="header-float"
      target="_blank" novalidate>
    <label for="mce-EMAIL">Subscribe to our mailing list</label>
    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;">
        <input type="text" name="b_4ca1d0d2326f625c74201d035_d90064e9fb" tabindex="-1" value="">
    </div>
    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
</form>


<div class="fb-like-box"
     data-href="https://www.facebook.com/castlepointanime"
     data-width="100"
     data-height="100"
     data-colorscheme="light"
     data-show-faces="true"
     data-header="true"
     data-stream="false"
     data-show-border="true"></div>
