<html>

    {% include head.html %}

    <body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" scroll="auto">

        <div id="fb-root"></div>
        <div id="case">
            <div class="container_12" id="container">
                <div class="top">
                    <img src="img/header_date.jpg" alt="CPAC" title="Castle Point Anime Convention">
                </div>
                <div class="clear"></div>
                {% include nav.html %}
                <div class="clear"></div>
                <div id="content">
                    <div id="left">
			
                        {% include social.html %}
			
                        <div class="clearfix"></div>
			
                        {{ content }}
			
                    </div>
                    <div id="rightbar">
                        <div class="frame">
			    
                            {% include sidebar.html %}
			    
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>

            {% include footer.html %}
	    
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </body>
</html>
