<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>
        <div id="fb-root"></div>
        <div id="case">
            <div id="container">
		{% include header.html %}
                {% include nav.html %}

                <div id="content">
                    <main id="left">
                        {% include social.html %}
                        <div class="clearfix"></div>
                        {{ content }}
                    </main>

                    {% include sidebar.html %}

                </div>
                <div class="clearfix"></div>
            </div>

            {% include footer.html %}
        </div>
    </body>
</html>
